# General
pathlib
typing

# Core LLM stack
openai
langchain
langchain_openai
langchain_community
langchain_pinecone
langchain_openai

# Vector database
pinecone

# Web / API / UI
fastapi
uvicorn[standard]
streamlit
requests

# PDF parsing
PyPDF2

# Utilities
python-dotenv
dotenv
tqdm
pydantic
logging